html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #CCE9FF;
}


a {
    color: #008AAD;
    text-decoration: none;
}

.btn {
    background-color: #3EC3DE;
}